.rodape {
  text-align: center;
  color: var(--white);
  padding: 3rem;
}

footer {
  background-color: var(--grey);
}

@media (min-width: 300px) and (max-width: 548px) {
  .rodape p{
    font-size: 0.8rem;
  }
}