:root {
  --red: #e71d36;
  --blue: #011627;
  --orange: #ff1d03;
  --blue2: #2ec4b6;
  --white: #ffff;
  --background: #0d0d0d;
  --grey: #181818;
  --grey-light:rgb(203, 207, 185);

  --gradiente: #ffe5e5;
  --gradiente1: #f5fffe;
  --gradiente2: #fcf3ff;
  --gradiente3: #fdf4f3;
  --gradiente4: #fff4e5;
}

* {
  margin: 0;
  padding: 0;
  width: auto;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
